{% extends 'base.html' %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div>
        <div>
            <ul style="list-style: none;color: red;">
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}